
.active {
    background-color: #6746c3;
}

.navbar {
    background-color: #311b92;
    color: white;
    
}

.text {
    color: white;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 1rem;
}