<nav>
  <mat-card class="navbar">
    <div class="flex-container">
      <button mat-button>
        <a routerLink="/convert" routerLinkActive="active" class="text">
          EUR to RON
        </a>
      </button>
      <button mat-button>
        <a routerLink="/rocket" routerLinkActive="active" class="text">
          SpaceX Rocket
        </a>
      </button>
      <button mat-button>
        <a routerLink="/qr" routerLinkActive="active" class="text">
          QR generator
        </a>
      </button>
      <button mat-button>
        <a routerLink="/statistics" routerLinkActive="active" class="text">
          Statistici
        </a>
      </button>
    </div>
  </mat-card>
</nav>

<router-outlet></router-outlet>